/*nav bar*/
nav li{
    display: inline-block;
    max-width: 500px;
    list-style-type: none;
    text-align: center;
    padding: 30px;
    margin: 0;
    background-color: cornsilk;
}

.nav {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
nav-bk{
    background-color: yellowgreen;
    display: inline-block;
    max-width: 2fr;
    padding: 30px;
    margin: 0;

}
.foot {
    display: inline-block;
    font-size: 12px;
    padding: 0px;
}

li:hover {
color: aquamarine;
}
/*table*/
.editing {
    padding-left: 1em;
}
td {
        padding-left: 1em;
}

tr:nth-child(even) {
    background: #CCC;
    padding-left: 1em;
}
tr:nth-child(odd) {
    background: #FFF;
    padding-left: 1em;
}

tr:hover {
    background: yellowgreen ;
}



.del:hover {
    color: #FFFFFF;
    background-color: orangered;
}

button {
    border-radius: 25%;
}
.edit:hover {
    background-color: chartreuse;
}
.add button{
    background-color: green;
}

a:link {
    color: black;
    text-decoration: none;
}
.mb-3{
    padding-bottom: 5px;
    border-bottom-style: groove;
    max-width: 500px;
}
.btn:hover{
    transition: font-size;
    color: yellowgreen;
}