/*nav bar*/
body{
    background-color: burlywood;
}
nav li{
    display: inline-block;
    max-width: 500px;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: auto;
    background-color: cornsilk;
}

foot {
    display: inline-block;
    font-size: 12px;
    padding: 0;
}

li:hover {
    background-color: darkslategray;
}

a:hover{
    color: darkgray;
}
/*table*/
.editing {
    padding-left: 1em;
}
td {
        padding-left: 1em;
}

tr:nth-child(even) {
    background: #CCC;
    padding-left: 1em;
}
tr:nth-child(odd) {
    background: #FFF;
    padding-left: 1em;
}

tr:hover {
    background: yellowgreen ;

    font-style: italic;
}


button {
    border-radius: 25%;
}
.edit:hover {
    background-color: chartreuse;
    color: cornsilk;
    font-style: italic;
}

.del:hover {
    color: #CCCCCC;
    background-color: orangered;
    font-style: italic;
}

.add {
    background-color: olivedrab ;
}
.add:hover{
    background-color: limegreen;
    font-style: italic;
}

a:link {
    color: black;
    text-decoration: none;
}
.mb-3{
    padding-bottom: 5px;
    border-bottom-style: groove;
    max-width: 500px;
}
.btn:hover{
    transition: font-size;
    color: yellowgreen;
}