td {
    align-content: center;
}
tr:nth-child(even) {
    background: #CCC
}
tr:nth-child(odd) {
    background: #FFF
}

tr:hover {
    background: coral;
}

.nav {
    align-content: first;
}

.del:hover {
    color: #FFFFFF;
    background-color: firebrick;
}

button {
    border-radius: 25%;
}
.edit:hover {
    background-color: yellowgreen;
}

a:link {
    color: black;
    text-decoration: none;
}